{% extends"layouts/default.html" %}

{% set image_path = "/images/magasins/" %}

{% block content %}
<script src="/views/pages/index/script.js"></script>

<div class="page-head mb-4" style="background-image:url({{ image_path }}header_img.png);">
  <div class="container pt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item"><a href="#">Nos magasins</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lapeyere Limoges</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-lg-4">

      <div class="sticky-top left-col py-4">
        <div class="card mb-4">
          <div class="card-body px-xl-5 py-xl-4">
            <div class="text-center py-2">
              <img src="{{ image_path }}logo_lapeyre.png" class="circle mb-1 magasin-logo" alt="">
              <div class="text-gray">
                Magasin
              </div>
              <h1 class="h4 font-weight-bold mb-0">
                Lapeyre Limoges
              </h1>
              <div>
                {# Set real dynamic value here #}
                {% set rating = 4.6 %}

                {% set rating_calcul = rating %}
                <span class="stars-wrapper">
                  {% for i in 1..5 %}
                    {% set width_pct = rating_calcul*100 %}
                    {% set rating_calcul = rating_calcul - 1 %}
                    <span class="star-wrapper">
                      <span class="star" style="width:{{ width_pct }}%;">
                      </span>
                    </span>
                  {% endfor %}
                </span>
                <span class="text-gray">({{ rating }})</span>
              </div>
              <div class="my-4">
                <div class='row mt-2'>
                  {# Set real dynamic value here #}
                  {% set open = true %}

                  {% if open %}
                    {% set open_color = 'success' %}
                  {% else %}
                    {% set open_color = 'danger' %}
                  {% endif %}
                  <div class="col-2 pr-0 mt-1"><span class="dot bg-{{ open_color }}"></span></div>
                  <div class="col-10 text-left my-1 pl-0 text-{{ open_color }}">
                    Ouvert jusqu'à 18h00
                  </div>
                </div>
                <div class='row mt-2'>
                  <div class="col-2 mt-2 pr-0"><i class="icon icon-map"></i></div>
                  <div class="col-10 text-left my-1 pl-0">
                    49 avenue de Louis de Broglie<br/>
                    87000 Limoges
                  </div>
                </div>
                <div class='row mt-2'>
                  <div class="col-2 mt-2 pr-0"><i class="icon icon-tel"></i></div>
                  <div class="col-10 text-left my-1 pl-0">
                    01 02 03 04 05
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-primary btn-block px-0 px-lg-3">Prendre un rendez-vous en magasin</a>
            </div>
          </div>
        </div>

        <ul class="nav nav-pills flex-column mb-4 d-none d-md-block">
            <li class="nav-item">
              <a class="nav-link active" href="#presentation">Présentation <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#horaires">Horaires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visite3d">Visite 3D</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#realisations">Réalisations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#avis">Avis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#motduresponsable">Le mot du responsable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projet">Préparez votre projet</a>
            </li>
          </ul>

          <a href="#" class="btn btn-outline-primary btn-sm ml-3 d-none d-md-inline-block">Prendre un rendez-vous</a>

      </div>
    </div>

    <div class="col-md-7 col-lg-8">
      <h2 class="h5 font-weight-bold mb-1" id="presentation">Votre magasin Lapeyre à Limoges</h2>
      <div class="mb-3">
        <div class="mb-1">
          Achetez en magasin ou commandez en ligne et venez le récupérer en moins de 2 heures !
        </div>
        <small class='font-weight-bold'>
          <a href="#" class="text-gray">Lire plus +</a>
        </small>
      </div>

      <div class="bg-primary p-3 text-white mb-4 rounded">
        <div class="font-weight-bold">
          Semaine du bois du 2 au 7 novembre
        </div>
        En association avec la région Nouvelle-Aquitaine, votre magasin ouvre son atelier au grand public. Venez découvrir le travail et discuter avec nos menuisiers.
      </div>

      <div class="card mb-4" id="horaires">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Horaires
          </h3>
          <div class="d-xl-flex bd-highlight mb-3 text-gray">
            <div class="p-xl-2 flex-fill schedule">
              <span class="d-xl-block mb-2 schedule--day">
                Lun.
              </span>
              <small class="font-weight-bold">
                <span class="d-xl-block schedule--hours">09:30 - 12:00</span>
                <span class="schedule--hours">14:00 - 18:00</span>
              </small>
            </div>
            <div class="p-xl-2 flex-fill schedule">
              <span class="d-xl-block mb-2 schedule--day">
                Mar.
              </span>
              <small class="font-weight-bold">
                <span class="d-xl-block schedule--hours">09:30 - 12:00</span>
                <span class="schedule--hours">14:00 - 18:00</span>
              </small>
            </div>
            <div class="p-xl-2 flex-fill schedule">
              <span class="d-xl-block mb-2 schedule--day">
                Mer.
              </span>
              <small class="font-weight-bold">
                <span class="d-xl-block schedule--hours">09:30 - 12:00</span>
                <span class="schedule--hours">14:00 - 18:00</span>
              </small>
            </div>
            <div class="p-xl-2 flex-fill schedule">
              <span class="d-xl-block mb-2 schedule--day">
                Jeu.
              </span>
              <small class="font-weight-bold">
                <span class="d-xl-block schedule--hours">09:30 - 12:00</span>
                <span class="schedule--hours">14:00 - 18:00</span>
              </small>
            </div>
            <div class="p-xl-2 flex-fill schedule active">
              <span class="d-xl-block mb-2 schedule--day">
                Ven.
              </span>
              <small class="font-weight-bold">
                <span class="d-xl-block schedule--hours">09:30 - 12:00</span>
                <span class="schedule--hours">14:00 - 18:00</span>
              </small>
            </div>
            <div class="p-xl-2 flex-fill schedule">
              <span class="d-xl-block mb-2 schedule--day">
                Sam.
              </span>
              <small class="font-weight-bold">
                <span class="d-xl-block schedule--hours">09:30 - 12:00</span>
                <span class="schedule--hours">14:00 - 18:00</span>
              </small>
            </div>
            <div class="p-xl-2 flex-fill schedule">
              <span class="d-xl-block mb-2 schedule--day">
                Dim.
              </span>
              <small class="font-weight-bold">
                Fermé
              </small>
            </div>
          </div>
          <a href="#" class="btn py-1 btn-block btn-light font-alt text-uppercase btn-opening-closures">
            <span class="text-closed">
              Voir les ouvertures et fermetures exceptionnelles
            </span>
            <span class="text-opened text-gray d-none">
              Fermer les ouvertures et fermetures exceptionnelles
            </span>
            <i class="icon icon-small icon-arrow-down"></i>
          </a>
          <div class="bg-light text-center opening-closures-wrapper">
            <div class="row pt-2">
              <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="font-weight-bold text-uppercase mb-3">
                  Ouvertures exceptionnelles
                </div>
                <div class="row mx-1">
                  {% for i in 1..3 %}
                    <div class="col-3 px-1">
                      <div class="bg-white mx-1 p-1 text-gray">
                        jeudi <div class="font-weight-bold">25 mai</div> 2017</div>
                      </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-6 mb-3 mb-lg-0">
                <div class="font-weight-bold text-uppercase mb-3">
                  Fermetures exceptionnelles
                </div>
                <div class="row mx-1">
                  {% for i in 1..8 %}
                    <div class="col-3 px-1">
                      <div class="bg-white mx-1 p-1 text-gray mb-3">
                        jeudi <div class="font-weight-bold">25 mai</div> 2017</div>
                      </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4" id="acces">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Accès
          </h3>
          <iframe
            class="mb-2"
            width="100%"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYGeZ4avcgpzwOr1M-BDmOtwYu9yRcUkI
              &q=Lapeyre Limoges" allowfullscreen>
          </iframe>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-1">
                  <i class="icon icon-car"></i>
                </div>
                <div class="col-11 mb-3 mb-md-0">
                  <div class="font-weight-bold mb-2">
                    Accès véhicule
                  </div>
                  <div>
                    200m après le rond point Tim Barthélémy
                  </div>
                  <div>
                    Parking
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-1">
                  <i class="icon icon-metro"></i>
                </div>
                <div class="col-11">
                  <div class="font-weight-bold mb-2">
                    Transport en commun
                  </div>
                  <div>
                    {# Available classes: metro-n / metro-nbis #}
                    <span class="metro metro-5">5</span>
                    Arrêt Richard Lenoir
                  </div>
                  <div>
                    <span class="bus">
                      Bus 331
                    </span>
                    Arrêt Jaurès
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card mb-4" id="visite3d">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Visite 3D du magasin
          </h3>
          <iframe
            class="bg-light"
            width="100%"
            height="200"
            frameborder="0"
            src="">
          </iframe>
        </div>
      </div>

      <div class="card mb-4" id="services">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Services
          </h3>
          <div class="row">
            <div class="col-md-6 col-xl-3 py-1 px-1 px-lg-3">
              <div class="service border border-light-gray text-center py-4 px-2 text-gray">
                <div><img src="{{ image_path }}service_pose.png" alt="" class="mb-3"></div>
                L'installation est faîte sur-mesure par des artisans qualifiés.
              </div>
            </div>
            <div class="col-md-6 col-xl-3 py-1 px-1 px-lg-3">
              <div class="service border border-light-gray text-center py-4 px-2 text-gray">
                <div><img src="{{ image_path }}service_livraison.png" alt="" class="mb-3"></div>
                Nous assurons la livraison de nos produits chez vous.
              </div>
            </div>
            <div class="col-md-6 col-xl-3 py-1 px-1 px-lg-3">
              <div class="service border border-light-gray text-center py-4 px-2 text-gray">
                <div><img src="{{ image_path }}service_atelier.png" alt="" class="mb-3"></div>
                Nos menuisiers sont à l'écoute pour réaliser vos projets sur-mesure.
              </div>
              <div class="bg-primary text-white text-center p-1 font-weight-bold">
                Disponible sous 24h
              </div>
            </div>
            <div class="col-md-6 col-xl-3 py-1 px-1 px-lg-3">
              <div class="service border border-light-gray text-center py-4 px-2 text-gray">
                <div><img src="{{ image_path }}service_conseil.png" alt="" class="mb-3"></div>
                Nos conseillers sont disponibles pour vous rendre visite chez vous.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4" id="realisations">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Réalisations
          </h3>
          <div class="slider-wrapper">

            {% for i in 1..2 %}
              <div class="slide">
                <div class="slide--img">
                  <img src="{{ image_path }}slider_cuisine.png" class="w-100" alt="">
                  <div class="arrow arrow__prev"></div>
                  <div class="arrow arrow__next"></div>
                </div>
                <div class="slide--title font-weight-bold mt-2">
                  <span class="text-primary pr-2">{{ i }} / {{ loop.length }}</span>
                  Cuisine Twist design en ilôt
                </div>
                <div class="slide--text my-2">
                  Je souhaitais une cuisines vivante pour transformer ma petite cuisine de 2,5 m². jean-Louis m’a aidé des plans à la pose, il a pensé à tout (électroménager, rangement,..) et a apporté plus de luminosité, je suis super ravie !
                </div>
                <div class="slide--author font-italic text-gray">
                  <span class="font-weight-bold">Sandrine T.</span>, 39 ans, sa note :

                  {# Set real dynamic value here #}
                  {% set rating = 3.5 %}

                  <span class="stars-wrapper mini">
                    {% for i in 1..5 %}
                      {% set width_pct = rating*100 %}
                      {% set rating = rating - 1 %}
                      <span class="star-wrapper">
                        <span class="star" style="width:{{ width_pct }}%;">
                        </span>
                      </span>
                    {% endfor %}
                  </span>

                </div>
              </div>

            {% endfor %}
          </div>

        </div>
      </div>

      <div class="card mb-4" id="avis">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Avis
          </h3>
          <div class="row justify-content-center">
            <div class="col-lg-6">

              <div class="font-weight-bold mb-4 row align-items-center">
                <div class="col-4 text-right d-none d-xl-block">
                  <img src="{{ image_path }}logo_lapeyre.png" class="circle mb-1 magasin-logo small" alt="">
                </div>
                <div class="col-xl-8 text-center text-xl-left">
                  <h4  class="font-weight-bold">Lapeyre Limoges</h4>
                  <div>
                    {# Set real dynamic value here #}
                    {% set rating = 4.6 %}

                    {% set rating_calcul = rating %}
                    <span class="stars-wrapper">
                      {% for i in 1..5 %}
                        {% set width_pct = rating_calcul*100 %}
                        {% set rating_calcul = rating_calcul - 1 %}
                        <span class="star-wrapper">
                          <span class="star" style="width:{{ width_pct }}%;">
                          </span>
                        </span>
                      {% endfor %}
                    </span>
                    <span class="text-gray">({{ rating }} / 5)</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="text-center">
            Grâce à l’expertise de nos équipes, l’exigence de nos clients est comblée et ils disent :
          </div>
          <div class="row mt-3">
            {% for i in 1..2 %}
              <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="avis position-relative border border-light-gray pt-5 pb-4 px-4">
                  <div class="text-gray font-italic px-3 text-justify">
                    Le contact avec la vendeuse a été très agréable et constructif, elle a bien pris en compte mes souhaits et mon budget. ça a été très rapide et bien fait !
                  </div>
                  {# Set real dynamic value here #}
                  {% set rating = 4 %}

                  <div class="stars-wrapper text-center my-3">
                    {% for i in 1..5 %}
                      {% set width_pct = rating*100 %}
                      {% set rating = rating - 1 %}
                      <span class="star-wrapper">
                        <span class="star" style="width:{{ width_pct }}%;">
                        </span>
                      </span>
                    {% endfor %}
                  </div>

                  <div>
                    <span class="font-weight-bold">Jean-Yves B</span>, Verneuil-sur-Vienne (87430)
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="text-center mt-3">
            <img src="{{ image_path }}logo_avis_verifies.png" alt="">
          </div>
        </div>
      </div>

      <div class="card mb-4" id="motduresponsable">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Le mot du responsable
          </h3>
          <div class="text-gray font-italic mt-3 mb-2 text-justify">
            Moi et mon équipe, nous sommes heureux de vous accueillir dans notre magasin sur Limoges pour parler cuisine de l’aménagement durable de votre maison (menuiseries, cuisines, bains, fenêtres, portes, escaliers, rangements...).
            <br/><br/>
            Nous nous engageons à vous conseiller avec simplicité et efficacité sur les possibilités pour vos projets. Fort de son savoir-faire de distributeur-fabricant, Lapeyre propose des produits de qualité, adaptables et accessibles ainsi qu’une offre de conseils personnalisés et de nombreux services (atelier de menuiserie, installation, délai express...).
            <br/><br/>
            À très vite !
            <br/><br/>
          </div>
          <div class="font-weight-bold">
            Audrey Turpin
          </div>
          <div class="text-gray">
            Responsable du magasin depuis 2003
          </div>
        </div>
      </div>

      <div class="card mb-4" id="projet">
        <div class="card-body">
          <h3 class="card-title font-alt text-uppercase">
            Préparez vote projet
          </h3>
          Vous souhaitez parler d’une projet en particulier ? N'hésitez pas à prendre de l’avance
          <div class="d-lg-flex bd-highlight my-3 text-center row">
            <div class="projet px-1 flex-fill col-4 col-lg-12 mb-2">
              <div class="p-2 border border-light-gray">
                <div><img src="{{ image_path }}projet_cuisine.png" alt="" class="my-4"></div>
                Cuisine
              </div>
            </div>
            <div class="projet px-1 flex-fill col-4 col-lg-12 mb-2">
              <div class="p-2 border border-light-gray">
                <div><img src="{{ image_path }}projet_fenetres.png" alt="" class="my-4"></div>
                Fenêtres
              </div>
            </div>
            <div class="projet px-1 flex-fill col-4 col-lg-12 mb-2">
              <div class="p-2 border border-light-gray">
                <div><img src="{{ image_path }}projet_sdb.png" alt="" class="my-4"></div>
                Salle de bain
              </div>
            </div>
            <div class="projet px-1 flex-fill col-4 col-lg-12 mb-2">
              <div class="p-2 border border-light-gray">
                <div><img src="{{ image_path }}projet_escaliers.png" alt="" class="my-4"></div>
                Escaliers
              </div>
            </div>
            <div class="projet px-1 flex-fill col-4 col-lg-12 mb-2">
              <div class="p-2 border border-light-gray">
                <div><img src="{{ image_path }}projet_autres.png" alt="" class="my-4"></div>
                Autres
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <a href="#" class="btn btn-sm btn-primary">Prendre un rendez-vous</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
